.container{
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 60vh 40vh;
    grid-template-areas: 
    'POK_timemap containerbox'
    'infosection infosection';
    margin-top: 3%;
}
.POK_timemap { 
    grid-area: POK_timemap; 
}
.containerbox { 
    grid-area: containerbox; 
    padding-left: 5%;
    margin-right: 10%;
    border-style: solid;
}
.infosection { 
    grid-area: infosection; 
}
svg{
    background: url(../data/MC2-tourist.jpg);
    background-size: contain
}
.info_1{
    text-align: left;
}
.fcc-btn {
    position: relative;
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    float: center;
    margin-top: 1%;
  }

.fcc-btn:hover {
    background-color: #223094;
  }